<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.battistradadeveloper.smartfarmoffline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoround"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoround"
        android:supportsRtl="true"
        android:theme="@style/NewTheme">
        <activity android:name=".home.MainAdmin"></activity>
        <activity android:name=".home.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.MainActivity"></activity>
    </application>

</manifest>